# Database Configuration
DB_HOST=castleskeepprod-ro-1p.gslb4.comcast.com
DB_PORT=5432
DB_NAME=castlekeep
DB_USER=sryali755
DB_PASSWORD=CqTFbRlB

# Writer API Configuration
WRITER_API_KEY=wr-RhgO5xw1fPqGpq3-inAWTQ

# Node Environment
NODE_ENV=production
